.flex-contaier-presentation-uni {
	display: flex;
	background-image: url("https://enginyeriafisica.etsetb.upc.edu/ca/vols-estudiar-enginyeria-fisica/CampusNordPano105cs.jpg");
	background-size: cover;
	color: #ffffff;
	height: 600px;
	text-shadow: 0.25px 0.25px 0.25px #000000;
	padding: 10px 0;
	z-index:19;
}

.menu_button {
	border-radius: 5px;
	padding: 10px 10px;
	border: none;
	text-align: center;
	transition: 0.5s;
	color: CornflowerBlue ;
	background-color: white;
	text-decoration:none; 
}

#Univ_photo{
	padding:20px;
	width: 400px;
	height: auto;
}