.flex-contaier-presentation-uni {
	display: flex;
	background-image: url("http://2.citynews-baritoday.stgy.ovh/~media/original-hi/18103551558247/politecnico-campus-universita-2.jpg");
	background-size: cover;
	color: #ffffff;
	height: 650px;
	text-shadow: 0.25px 0.25px 0.25px #000000;
	padding: 10px 0;
	background-position: 80% 25%;
}

.menu_button {
	border-radius: 5px;
	padding: 10px 10px;
	border: none;
	text-align: center;
	transition: 0.5s;
	color: LightSeaGreen ;
	background-color: white;
	text-decoration:none; 
}

#Univ_photo{
	padding:20px;
	width: 400px;
	height: auto;
}