/*-------------------------------MAIN BODY----------------------------------*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
/*--------------------------MAIN HEADER INSA------------------------------------*/
.bg-black{
	background: #333 !important;
}

#mainNav{
	display: flex;
	justify-content: flex-start;
	padding: 0px 16px;
	position: fixed;
	width: 100%;
	top: 0px;
	background: #eee;
	transition: background 0.4s;
	z-index: 500;
}
#mainNav ul{
	list-style: none;
	display: flex;
	align-items: center;
	width: 400px;
	justify-content: space-around;
}

#mainNav .logo_INSA img{
	height: 100px;
	padding: 20px;
	transition: height 0.4s;
}

.menu_button_header {
	border-radius: 5px;
	padding: 10px 10px;
	border: none;
	text-align: center;
	transition: 0.5s;
	color: red ;
	font-weight: bold;
	text-decoration:none; 
}

.menu_button_header:hover {
	background-color: lightgrey;
}

/*-------------------------------HEADER UNI-------------------------------------*/

.flex-container-header-uni{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 120px 8% 20px 8%;
	padding: 15px 1%;
	z-index: 20;
}

.flex-container-header-uni > div,.header > div {
	width: auto;
	padding: 10px;
  }

/*.menu_button {}*/

.menu_button:hover {
	background-color: lightgray;
  }

/*-----------------------------PRESENTATION-----------------------------------*/

/*.flex-contaier-presentation-uni {}*/


#Pres_Univ h2{
	color:red;
	padding: 2% 3% 0% 0%;
	font-family: 'Roboto', sans-serif;
	text-align: right;
}
#Pres_Univ p{
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
    text-justify: inter-word;
	padding: 0% 3% 0% 10%;
	margin: 0 0 3% 7%;
}

/*---------------------------------CONTAINER BODY-------------------------------*/

.flex-container-body-uni{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 20px 5%;
	padding: 10px 2%; 

}

.flex-container-body-uni h2{
	font-weight: 600;
	text-align: left;
	border-bottom: 3px solid #cccccc;
}

#Pres_Univ,#Orientations, #Cursus, #Carte, #Comments, #Contact{
	padding: 100px 10px 10px 10px;
	margin: -90px 30px 20px 30px;
}
#Orientations{z-index:18;}
#Cursus{z-index:17;}
#Carte{z-index:16;}
#Comments{z-index:15;}
#Contact{z-index:10;}

#Cursus ul{
	padding: 5px 40px 5px 40px;
}
#Comments ul{
	padding: 20px 40px 5px 40px;
}
#Cursus h3,#Contact p,#Carte figure{
	padding: 10px;
}

.flex-table{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-contact-text{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.flex-contact-images{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	
}

#INSA_photo{
	padding:20px;
	width: 400px;
	height: auto;
}


/*---- TABLEAU ORIENTATIONS DISPONIBLES------- */
.no-border{border : 0px ;}

td,th {
	padding: 10px ; 
	border : 2px black groove ;
}
td{
	width: 120px;
	height: 70px;
}

table{
	border-collapse: collapse;
	margin-top: 30px;
}

.po{ 
	background-color: #e6ffe6;
	background-image: url(https://vignette.wikia.nocookie.net/batman/images/f/f0/Check_mark.png/revision/latest?cb=20170507181047&path-prefix=es);
	background-size: 60px auto;
	background-repeat: no-repeat;
	background-position: center center;

}
.im{ 
	background-color: #ffe6e6;
	background-image: url(https://vignette.wikia.nocookie.net/civilization/images/f/fe/Red_cross_tick.png/revision/latest?cb=20130724172936);
	background-size: 60px auto;
	background-repeat: no-repeat;
	background-position: center center;
}
/*----------------------------------------------*/

/*-----------------------------------COMMENTS---------------------------------------*/

h3.user{
    border: 2px;
    border-style: solid;
    border-color: #133f84;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    color: white;
    background: #133f84;
    margin: 10px auto;
    transition: all 0.3s ease;
}

h3.user:hover{
    border-color: #042556;
    background-color: #042556;
}

p.com{
    text-align: center;
    color: #133f84;
    font-style: italic;
}

#form{
    padding: 20px 10px;
}

input{
    border: none;
    border-bottom: 2px solid #042556;
    /*background-color: #1f59b8;*/
    color: #133f84;
    font-family: sans-serif;
    font-size: 14px;
}

textarea{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #133f84;
    resize: none;
}

button{
	padding: 5px;
	border-radius: 4px;
    border: none;
    background-color: #133f84;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #042556;
}

.commentaire{
	padding: 10px;
}

/*-----------------------------------------------------------------------*/
/*---------------------------------FOOTER--------------------------------*/
.grid-container-footer-uni{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	text-align: center;
}

.grid-container-footer-uni #social-media{
	display: grid;
	grid-template-columns: auto auto auto auto;
	align-content: center;
	justify-content: center;
}

footer {
	margin: 20px 10%;
	padding: 10px 2%;
	font-size: 12px;
}
#creators{
	display: grid;
	align-content: center;
}
footer div img {
	padding: 10px 10px;
	width: 60px;
	height: auto;
  }