
/*--------------------------MAIN HEADER INSA------------------------------------*/
*{
	margin: 0;
	padding: 0;
}

#headeur{
	margin: 20px;
	margin-top: 90px ; 
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
}

img{
	max-width: 100% ; 
}


#conteneur_1 {
	display: flex ;
	flex-align: center;
}

.section_1:nth-child(1)
{
	padding-top: 20px ; 
}

.bandeau {
	padding-top: 20px ; 
}

nav, nav + ul{
	border-left : 4px red groove;
	list-style-type: none;
	/*padding-left : 20px;*/
}
.no-border
{
	border : none;
}

/*.section_1:nth-child(2) {
	flex : 1 ;
}*/

h1{
	text-align: center;
	font-weight: 400;
}

.titre{
	padding : 30px;
	background-color: #DDD ; 
}

.Descentree, {
	text-align: center;
    font-style: italic; 
}

.description{
	font-style: italic;
}

#conteneur {
	list-style-type: none ; 
	display : flex ;
	/*justify-content: space-around;*/
}

.inutile
{
	list-style-type: none ; 
}

.btn.btn-primary {

	margin: 20px;
    border-radius: 5px;
	border: 0px;
	color: white;
	text-shadow: none;
	background-color: crimson;
	box-shadow: 6px 6px 6px black
}

.btn.btn-primary:hover {
	margin: 20px;
    border-radius: 5px;
	border: 0px;
	color: white;
	text-shadow: none;
	background-color: crimson;
	box-shadow: 6px 6px 6px black inset ; 
}

mark {
	font-style: italic;
	font-size: 16px;
}

.name{ 
	font-weight: bold;
	font-size: 20px ;
}

#pied-page {
	display : flex;
	flex-direction: row;
	justify-content: space-between;
}

#logo-contenu{

	display: flex;
	justify-content: flex-end;
	flex-direction : row ;
	list-style-type: none;
}

.un-logo{
	list-style-type: none ; 
	margin : 10px;
}

.un-logo:nth-child(1)
{
	align : flex-end;
}

#page 
{
	display : flex; 
	flex-direction: row;
	flex: auto ;
	flex-wrap: wrap;
	justify-content: space-around;
}

.page-elem
{
	max-width : 50% ;
	/*border : 2px black double;*/
	padding-left : 20px;
	padding-top: 30px ; 
}
.page-elem:nth-child(5)
{
	align-items : left ; 
}

.contacts{
	margin-top: 20px; 
}

mark {
	background-color: white;
}

@media all and (max-width: 1024px)
{
	#conteneur
	{
		justify-content: center;
		display : flex;
		flex-direction: column;
	}

	#page
	{ 
		text-align : center;
		display : flex;
		flex-direction : column;
	}

	#pied-page
	{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	#logo-contenu 
	{
		display: flex;
		justify-content: right;
	}
	.bandeau
	{
		display: none ; 
	}
	h1
	{
		text-align: center;
	}
	.page-elem
	{
		max-width: 100%;
		padding-left : 20px;
		padding-top: 30px ; 
	}
	.no-border
	{
		border-left: 4px red groove;
	}
	.btn.btn-primary {

	margin: 20px;
    border-radius: 5px;
	border: 0px;
	color: white;
	text-shadow: none;
	background-color: crimson;
	box-shadow: 4px 4px 6px black
}

.btn.btn-primary:hover {
	margin: 20px;
    border-radius: 5px;
	border: 0px;
	color: white;
	text-shadow: none;
	background-color: crimson;
	box-shadow: 4px 4px 6px black inset ; 
}


