/*-------------------------------MAIN BODY----------------------------------*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
/*--------------------------MAIN HEADER INSA------------------------------------*/
.bg-black{
	background: #333 !important;
}

#mainNav{
	display: flex;
	justify-content: flex-start;
	padding: 0px 16px;
    margin: 0px 0px 10px;
	position: fixed;
	width: 100%;
	top: 0px;
	background: #eee;
	transition: background 0.4s;
    z-index: 12;
}
#mainNav ul{
	list-style: none;
	display: flex;
	align-items: center;
	width: 400px;
	justify-content: space-around;
}

#mainNav .logo_INSA img{
	height: 100px;
	padding: 20px;
	transition: height 0.4s;
}

.menu_button_header {
	border-radius: 5px;
	padding: 10px 10px;
	border: none;
	text-align: center;
	transition: 0.5s;
	color: red ;
	font-weight: bold;
	text-decoration:none; 
}

.menu_button_header:hover {
	background-color: lightgrey;
}

/*---------------------------------CONTAINER BODY-------------------------------*/
#Contact{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 20px 10%;
	padding: 10px 5%; 
}

.flex-contact-text{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.flex-contact-images{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	
}

#INSA_photo{ /*PAS TOUCHE SVP */
	padding:20px;
	width: 400px;
	height: auto;
}

#welcome {
    margin-top: 100px;
    position: fixed;
}

#Bienvenue {
	margin-top: 120px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 20px 10%;
	padding: 10px 5%; 
}

.liste-fac {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    vertical-align: center ;
    flex-grow: 2;
    
}

#slideshow {
    position: relative;
    width : 75%;
    height: 700px;
    padding: 15px;
    margin: 0 auto 2em;
    border: 1px solid #ddd;
    background: #FFF;
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2)
}


#slideshow .container {
    position: absolute;
    width: 97.5%;
    height: 96%;
    overflow: hidden;
}


/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}

#plane{
    margin: 0;
    padding-top: 110px;
    display: block;
    width: 100%;
}

/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}

#slideshow figcaption {
    position: absolute;
    left : 25% ;
    right : 25% ;
    bottom:  10%;
    width: 50%;
    height: 50px;
    text-align: center ;
    font-family: Georgia;
    font-size: 40px;
    text-shadow: -2px -2px 2px gray;
    background-color: lightblue;
    border: 1px ;
    border-radius: 5px  5px  5px 5px ;
}

.next, .prev {
    /* Make buttons look nice */ 
    cursor: pointer;
    float: left;
    width: 25px;
    height: 40px;
    padding: 10px;
    margin-top: 27%;
    margin-right: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #000000;
    opacity: 0.65;
    user-select: none;
}

/* Put the right button to the right*/
.next {
    float: right;
}

#Universites{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 20px 10%;
	padding: 10px 5%; 
}
#Universites ul{
	list-style-type: none;
}



/*----------------------------------------------*/
/*---------------------------------FOOTER--------------------------------*/
.grid-container-footer-uni{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	text-align: center;
}

.grid-container-footer-uni #social-media{
	display: grid;
	grid-template-columns: auto auto auto auto;
	align-content: center;
	justify-content: center;
}

footer {
	margin: 15px 200px;
	padding: 15px 50px; 
	font-size: 12px;
}
#creators{
	display: grid;
	align-content: center;
}
footer div img {
	padding: 10px 10px;
	width: 60px;
	height: auto;
  }



#Petru_photo{
	padding:20px;
	width: 250px;
	height: auto;
}

#BARI_photo{
	padding:20px;
	max-width: 100%;
	height: auto;
}

#LJ_photo{
	padding:20px;
	width: 200px;
	height: auto;
}

#UPC_photo{
	padding:20px;
	width: 400px;
	height: auto;
}